html {
    background: #000000 url(pexels-pixabay-355465.jpg);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 40rem;
    height: 40rem;
    border: 40px solid rgba(255, 255, 255, 0.336);
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
        0 0 0 4px rgba(247, 242, 242, 0.548),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px rgb(240, 229, 229),
        0 0 10px rgba(0, 0, 0, 0.979);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
    /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(1, -3.24, 0.06, 3.36);
}

.hour-hand {
    border: 5px solid #ffffff73;
    border-radius: 30%;
    box-shadow:
        0 0 0 1px rgba(247, 242, 242, 0.548),
        inset 0 0 0 1px #EFEFEF,
        inset 0 0 2px rgb(240, 229, 229),
        0 0 2px rgba(0, 0, 0, 0.979);
}

.min-hand {
    height: 8px;
    border: 5px solid #ffffff73;
    border-radius: 30%;
    box-shadow:
        0 0 0 1px rgba(247, 242, 242, 0.548),
        inset 0 0 0 1px #EFEFEF,
        inset 0 0 2px rgb(240, 229, 229),
        0 0 2px rgba(0, 0, 0, 0.979);
}

.second-hand {
    height: 1px;
    border: 5px solid #ffffff73;
    border-radius: 30%;
    box-shadow:
        0 0 0 1px rgba(247, 242, 242, 0.548),
        inset 0 0 0 1px #EFEFEF,
        inset 0 0 2px rgb(240, 229, 229),
        0 0 2px rgba(0, 0, 0, 0.623);

}